<div class="px-10">
  <h1 class="text-lg font-bold">About</h1>
  <p class="text-xs">
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quisquam
    reprehenderit minima suscipit sunt maxime repudiandae corporis iure dolore
    quaerat, odit eos eveniet blanditiis reiciendis ipsum nulla alias aliquam
    magni nostrum.
  </p>
  <p class="text-sm">
    Numero de clientes
    <app-counter
      [duration]="duration()"
      [message]="message()"
      *ngIf="duration() > 0"
    />
  </p>
  <div>
    <app-wave-audio audioUrl="assets/audio.mp3" />
  </div>
</div>
